button{
    width: 50px;
    height: 50px;
    border: 2px solid rgba(255, 0, 98, 0.278);
    background-color: rgba(0, 0, 0, 0.803);
    border-radius: 20%;
    margin: 5px;
    color: white;
    font-size: 34px;
}
h2{
    font-size: 50px;
}
table{
    border: 5px solid black;
    font-size: 20px;
    font-weight: 500;
    font-family: Roboto;
    background-color: rgba(36, 36, 30, 0.2);
}
body{
    background-color: rgba(89, 6, 66, 0.109);
}
td{
    text-align: center;
}